body {
    background-color: #f5f5f5;
    font-family: Calibri;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    padding: 50px;
}
.todo-app {
    margin: 0 auto;
    width: 600px;
    padding: 25px;
    background-color: #ffffff;
}
.todo-header h1 {
    color: #af2f2f26;
    text-transform: uppercase;
}
.todo-create input {
    border: 2px solid #c3c3c3;
    width: 100%;
    padding: 5px;
}
.todo-items ul {
    padding: 0px;
}
.todo-items ul li {
    list-style-type: none;
    font-size: 20px;
    word-break: break-all;
}
button.btn {
    margin-left: 5px;
    color: #ffffff;
    border: none;
    padding: 5px;
}
.btn-delete {
    background-color: #ff0000;
}
.btn-complete {
    background-color: #16a085;
}